*{
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;   
}
body{
    background-color:rgb(240, 238, 238);
}
 
 .main-header{
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
 
   
 }
 
  
 .navbar-items{
    display: flex;    
    align-items: center;
    height: 50px;
    justify-content: center;
 

 }
.menu{
    display: none;
}
 .menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
  
   
 }
 .search-responsive{
    display: none;
 }
 .search-respon-ikon{
    font-size: 20px;
    color: white;
    margin-right: 5px;
  
 }
 
 .nav-search-ikon{
    width: 20px;
  
    color: white;
 
 
 }

.main-logo{
    text-decoration: none;
    background-color: red;
    margin : 10px 0 ;
    color: white;
    padding: 10px;
    width: 225px;
    font-family: 'PT Sans Narrow', sans-serif;   
    font-size:  25px;
    font-weight: 700; 
}

.navbar-items ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    list-style: none;
    column-gap: 10px;  
    font-family: 'Jost', sans-serif;    
    font-size: 14px;  
    
}

.navbar-items li>a{
    color: white;
    text-decoration: none;    
     
}

.navbar-items li #search-new{
    border-radius: 15px;
    border: none;
    width: 80px;
    padding: 4px;
    margin-right: 0;
    margin-left: 30px;
}
#search-new::placeholder{
    font-size: 11px;
    padding-left: 3px;
}

.new{
    color: white;
    background-color: red;
    padding: 8px;
    font-size: 8px;
    border-radius: 15px;
    margin-left: -32px;
    align-self: center;
}

.navbar-items li #member-login{
    background-color: black;
    border: 2px solid rgb(100, 100, 100);
    width: 80px;
    padding: 4px;
    margin-right: 0;
    border-radius: 15px;
    cursor: pointer;
    color: white;

}
#member-login::placeholder{
    color: white;
    padding-left: 3px;
    font-size: 11px;
  
}
.login{
    margin-left: -35px;
    color: white;
}



.main-container{
    display: flex;
    justify-content: center;
    flex-basis: 65%;
   
}

 

 .promo-top img{
    width: 80%;
    margin: 15px 0 0 90px;
     
 }

 .enter-content{
    display: flex;
   
    margin-top: 30px;
    column-gap: 5px;
    
 }

 
 .slideshow-container {
    width: 725px;
    position: relative;
    
 
  }
  
 
  .mySlides {
    display: none;
  }
  
 
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: -22px 5px 0 5px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius:50% ;
    user-select: none;
    background-color: rgba(46, 46, 46, 0.8);
    
  }
  
  .next {
    right: 0;
    border-radius:50%;
  }

  .bottom-nums{
    background-color: white;
    margin-top: -3px;
    border-bottom: 3px solid rgb(194, 191, 191);
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 ;
    padding: 8px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    border-bottom: 3px solid red;
  }
  .other-news-in-slide{
    display: flex;
    flex-direction: column;
  }
  .slideshow-container-two {
    max-width: 350px;
    position: relative;
  
  }
  
  /* Hide the images by default */
  .mySlides-two {
    display: none;
  
  }
  
 
  .bottom-nums-second {
    background-color: rgb(75, 75, 75);
  }
  
  .dot-second {
    cursor: pointer;
    margin: 0 ;
    color: white;
    padding: 5px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
 .mySlides-two-explain{
    background-color: black;
    border-left: 4px solid red;
    margin-top: -5px;
     
 }
 .mySlides-two-explain p{
    color: white;
    padding: 15px;
   
 }

  

  .stock{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 725px;
    margin-top: 10px;
    border-left: 3px solid red;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
 
  }

  .stock>span{
    font-family: 'PT Sans Narrow', sans-serif;  
    font-weight: 700; 
    font-size: 12px;
    color: rgb(175, 172, 172);
    padding: 5px 10px 5px 15px;
  }
  
  .stock #stock-price-dolar,
  .stock #stock-price-bitcoin,
  .stock #stock-price-stock,
  .up{
        color: green;
        padding-left: 5px;
        font-size: 14px;
  }
 
  .stock #stock-price-gold,
  .stock #stock-price-euro,
  .down{
    color: red;
    padding-left: 5px;
    font-size: 14px;
  }

  .enter-content-new{
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    margin-top: 15px;
    width: 725px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
  }
 
  .enter-content-new div img{
    width:50%;

  }
  .enter-content-new div p
 {
    float: right;
    background-color: white;
    padding: 10px;
    font-weight: 700;
    color: rgb(63, 63, 63);
    font-size: 14px;
  }

  .other-news>div>p{
    font-weight: 700;
    color: rgb(63, 63, 63);
    font-size: 14px;
    padding: 10px;
  }
 
.enter-content-new-in{
    display: flex;
}

.other-news{
    display: grid;
    grid-template-columns: 330px 330px 330px;
    column-gap: 20px;
    row-gap: 45px;
    margin-top: 20px;
   
 
}
.other-news-in{
    background-color: white;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.other-news-in img{
    height: 60%;
    width: 100%;
}


.other-news-in-youtube{
    background-color:black;
    grid-row: 6 / span 2;
}
 

.youtube-top 
 {
    display: flex;
    margin: 10px;
    padding: 5px;
    justify-content: space-between;
    
 
}
.youtube hr{
    height: 1px;
    border: 0;
    background-color: rgb(68, 68, 68);
}
.other-news-authors-in hr{
    height: 1px;
    border: 0;
    background-color: rgb(223, 223, 223);
}
.youtube-top-left
 {
    display: flex;
}
#youtube-top-left-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.youtube-top-right
 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}

.youtube-top h1{
    font-size: 16px;
    color: white;
    font-weight: 400;
}

.youtube-top #haberler-youtube-top-logo{
    width: 50px;
    margin-right: 2px;
    border-radius: 50%;
}

.youtube-top #youtube-top-logo{
    width: 70px;
}
  
.youtube-top-right button{
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    width: 100px;
}
 

.youtube-middle {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px;
    margin-bottom: 10px;
 
}
.youtube-middle a p{
    color: white;
    float: right;
    margin-right: 50px;
}

.youtube-bottom a h3,a{
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none;
   
}
.other-news-authors-top{
    display: flex;
    padding: 8px 20px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
}
.other-news-authors-top span{
    float: right;
    font-size: 12px;
    color: white;
    
}

.other-news-authors{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
 
.other-news-authors-in{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    row-gap: 20px;
    padding: 20px 10px;
    
}

.other-news-authors-in div {
    display: flex;
    align-items: center;    
    
}

.other-news-authors-top{
    background-color: red;
}

 
.other-news-authors-in div span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
   
 
}


.other-news-authors img{
   width: 100px;
   border-radius: 50%;
}

.other-news-authors-in div h1{
    color: black;
    font-size: 16px;
 }

 .other-news-authors-in h4{
    font-size: 14px;
    color: rgb(43, 43, 43);
    font-weight: 400;
 }

 .main-footer{
    display: flex;
    background-color: white;
    height: 1200px;
    margin-top: 20px;
}
.main-footer-left{
    flex-basis: 18%;
}
.main-footer-middle{
    flex-basis: 75%;
  
     
}
.main-footer-right{
    flex-basis: 20%;
}
 .main-footer-in{
    display: flex;
    margin-top: 50px;
    flex-basis: 65%;
     
 }

 .footer-top{
    border-left: 4px solid red;
    border-bottom: 1px solid rgb(180, 180, 180);
    padding: 15px;
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
    

 }

 .footer-middle
{
    display: flex;
    margin-top: 30px;
    row-gap: 10x;
    column-gap: 8px;

 }

 .footer-bottom{
    display: flex;
    margin-top: 50px;
    column-gap: 30px;
    
 }
.footer-bottom-left{
    display: flex;
    flex: 1;
    column-gap: 10px;
}

 .footer-bottom-right{
    display: flex;
    flex-direction: column;
    flex: 1;
 }
 .footer-bottom-column-one,
 .footer-bottom-column-two{
    display: flex;
    flex: 1;
    flex-direction: column;
 }


 .footer-middle span,
 .footer-bottom span{
    color: black;
 
 }
 
 .footer-middle-column-one,
 .footer-middle-column-two,
 .footer-middle-column-three,
 .footer-middle-column-four,
 .footer-middle-column-five,
 .footer-middle-column-six{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    column-gap: 20px;
     
 }
 
 .footer-middle>div>.text-title> span{
    font-weight: 600;
    font-size: 16px;
 }

 .main-footer-middle>div>div>.text,
 .main-footer-middle>div>div>.text-title
  {
    border-bottom: 1px solid rgb(221, 220, 220);
    text-decoration: none;
    flex: 1;
    text-align: start;
    padding: 5px 0;
 }
 .main-footer-middle>div>div>.text-end,
 .footer-bottom-column-one>.text,
 .footer-bottom-column-one>.text-end,
 .footer-bottom-column-two>.text,
 .footer-bottom-column-two>.text-end{
    text-align: start;
    padding: 5px 0;
 }
 
 .footer-bottom>div>div .text{
    text-decoration: none;
    border-bottom: 1px solid rgb(221, 220, 220);
    padding: 8px 0;
 }
 

 .footer-middle>div>.text> span,
 .footer-middle>div>.text-end> span,
 .footer-bottom>div>div>.text> span
 .footer-bottom>div>div>.text-end> span,
 .footer-bottom-column-one>.text>span,
 .footer-bottom-column-one>.text-end>span,
 .footer-bottom-column-two>.text>span,
 .footer-bottom-column-two>.text-end>span{
    font-weight: 500;
    font-size: 16px;

 }


 .footer-bottom-right-social-media {
    border-left: 4px solid red;
    border-bottom: 1px solid rgb(221, 220, 220);
    margin: 10px;
    width: 100%;
 
 }
.footer-bottom-right-social-media-ikon {
    padding: 10px 15px;
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 15px 15px;
    flex-wrap: wrap;
    margin: 20px 0;
    width: 100%;
    cursor: pointer;
 }

 .fa-facebook{
    color: rgb(42, 42, 131);
     
 }

 .fa-twitter{
    background-color: rgba(21, 163, 245, 0.815);
    color: white;
   
 }

 .fa-instagram{
    background-color: rgb(150, 31, 150);
    color: white;

 }

 .fa-linkedin-in{
    background-color: rgb(78, 78, 243);
    color: white;
  
 }

 .fa-whatsapp{
    background-color: rgb(52, 151, 52);
    color: white;
 }
.fa-itunes-note{
    border: 1px solid purple;

}
 .fa-spotify{
    color: rgb(66, 182, 66);
 }
 .fa-rss{
    background-color: rgb(236, 85, 15);
    color: white;
 }

 .fa-wordpress-simple{
    background-color: grey;
    border-radius: 50%;
    color: black;
 }
 .fa-youtube{
    background-color: red;  
    color: white;
 }

 .fa-tiktok{
    background-color: black;  
    color: white;
 }

 .fa-telegram{
    color: rgba(45, 122, 238, 0.788);
 }

 .fa-dailymotion{
    color: rgb(0, 26, 255);
     
 }

.fa-twitter,
.fa-instagram,
.fa-tiktok,
.fa-linkedin-in,
.fa-whatsapp,
.fa-youtube,
.fa-rss,
.fa-itunes-note{
    border-radius: 50%;
    padding: 7px;
    font-size: 20px;
}


.footer-bottom-right-store{
    display: flex;
    column-gap: 5px;
    border-left: 4px solid red;
    border-bottom: 1px solid rgb(221, 220, 220);
    margin: 20px 10px;
    width: 100%;
     
}

.footer-bottom-right-store img{
    width: 80px;
    padding: 20px 0 20px 15px;
}

.footer-end{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.footer-end p,span,h4{
    font-size: 12px;
    font-weight: 700;
    color: rgb(54, 54, 54);
}

.footer-end small{
    color: rgb(78, 78, 78);
    font-size: 12px;
    margin-bottom: 15px;
}

.footer-cookies{
    background-color: white;
    border: 2px solid black;  
    padding: 15px 5px 25px 5px;
    width: 70%;
    position: fixed;
    bottom: 0;
    z-index: 100;
    margin-top: 20px;
}
.footer-cookies-in{
    display: flex;
    align-items: center;
    justify-content: space-around;
 
 
}

.footer-cookies-in p{
    font-size: 14px;
    flex-basis: 70%;
    color: rgb(134, 134, 134);
}
.footer-cookies-in p a{
    font-weight: 700;
}

.footer-cookies-in button{
    background-color: black;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.footer-cookies-in a{
    color: black;
 
}










/*--------media--queris-----*/

 
@media only screen and (max-width: 600px) {
    .navbar-right,
    .navbar-left,
    .left-sidebar,
    .right-sidebar,
    .promo-top,
    .navbar-items li,
    .navbar-items .login,
    .navbar-items .new,
    .enter-content-new,
    .main-footer-left,
    .main-footer-right,
    .enter-promo,
    .footer-cookies
    {
        display: none;
    }
   
     
 
    .search-responsive{
        display: block;
        position: absolute;
        right: 10px;
          
      
    }
    .main-logo{
        font-size: 20px;
        
    }
    .menu{
        display: block;
        position: absolute;
        left: 10px;
      
    }

 
    .other-news,
   
    
    .footer-bottom{
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 5px;
       
    }
    .footer-bottom-left
    {
        margin-left: 15px;
    }
  
    .footer-bottom-right-social-media,
    .footer-bottom-right-store{
        margin: 0;
        gap: 15px;
    }

    
    .footer-middle{
        flex-wrap: wrap;
        width: 100%;
        margin-left: 15px;
    }
    .footer-end{
        margin-left: 20px;
        text-align: center;
    }
    .other-news-in{
        display: flex;
        margin: 5px;
        height: 50%;
        
 
    }
    .other-news-in img{
        width: 50%;
        height: 50%;
        margin: 8px;
    }

    .navbar-items{
        background-color: red;
        width: 100%;
    }
 
   
   .slideshow-container{
    width:100%;
   }
   .stock{
    width:100%;
    border: none;
 
    
   
   }
   .stock span{
     padding: 0 10px;
     color: black;
 
   }
  .bottom-nums{
    background-color: black;
    height: 30px;
    margin-top: -4px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }

    .dot {
        cursor: pointer;
        width: 0.5px;
        height: 0.5px;
        color: transparent; 
        padding: 3px  ;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        transition: none;
      }
      .active, .dot:hover {
        background-color:red;
        
      }
  
      .footer-middle-column-one,
      .footer-middle-column-two,
      .footer-middle-column-three,
      .footer-middle-column-four,
      .footer-middle-column-five,
      .footer-middle-column-six{
        flex-basis: 150px;
      }

      .text{
        padding: 3px;

      }
    
      
  }

  @media only screen and (min-width: 700px) and (max-width: 1200px) {
    .navbar-items ul li:nth-child(7),
    .navbar-items ul li:nth-child(8),
    .navbar-items ul li:nth-child(9),
    .navbar-items ul li:nth-child(10),
    .navbar-items ul li:nth-child(11),
    .promo-top,
    .navbar-items .new,
    .enter-promo,
    .other-news-in-slide,
    .main-footer-left,
    .main-footer-right,
    .footer-cookies,
    .other-news-in-youtube   {
        display: none;
    }

    .navbar-items{
        justify-content: space-between;
 
       
    }
 
      #member-login{
        margin-left: 100px;
    }

    .stock,    
   
    .enter-content-new{
        width: 785px;
    }
    .slideshow-container{
      width: 100%;
    }

    .other-news{
      display: grid;
      grid-template-columns: 250px 250px 250px;   
    }

    .main-footer {
        justify-content: center;
        width: 100%;
   
    }
    .footer-top{
        border-bottom: none;
        width: 50%;
       
   
    }

    .main-footer-middle{
        flex: 1;
      
    }
    .footer-middle,
    .footer-bottom
    {
        column-gap: 5px;
        padding: 0 15px;
 
    }
    
    .footer-middle-column-one,
    .footer-middle-column-two,
    .footer-middle-column-three,
    .footer-middle-column-four,
    .footer-middle-column-five,
    .footer-middle-column-six{
      flex:1;
    }
 
    .footer-bottom-right-social-media,
    .footer-bottom-right-store{
        width: 90%;
        padding-right: 0;
        
    }

    .footer-end{
        background-color:rgb(240, 238, 238);
        padding: 30px 0;
    }
  
  
  
   
  }